@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Montserrat-Medium.ttf);
}

$font-1: "font-1", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(221, 215, 215);
    text-decoration: none;
  }

  body {
    font-family: $font-1;
    background: rgb(91, 130, 214)
  }

  li {
      list-style-type: none;
  }

 .btn {
  font-size: 17px;
  background: transparent;
  border: none;
  padding: 1em 1.5em;
  color: #ffedd3;
  text-transform: uppercase;
  position: relative;
  transition: .5s ease;
}
